.gradient-blind {
  position: absolute;
  inset: -20%;
  z-index: 0;
  pointer-events: none;

  background: repeating-linear-gradient(115deg,
      rgba(6, 182, 212, 0.00) 0%,
      rgba(6, 182, 212, 0.00) 8%,

      rgba(103, 232, 249, 0.18) 14%,
      rgba(6, 182, 212, 0.35) 18%,
      rgba(103, 232, 249, 0.18) 22%,

      rgba(6, 182, 212, 0.00) 30%);

  filter: blur(6px);
  opacity: 0.45;
  mix-blend-mode: screen;

  animation: slideBlinds 10s linear infinite;
}

@keyframes slideBlinds {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 200%;
  }
}